DATABASE_PRISMA_DATABASE_URL="postgres://user:password@host:port/database_name?sslmode=require"
DATABASE_PRISMA_POSTGRES_URL="postgres://user:password@host:port/database_name?sslmode=require"
DATABASE_PRISMA_PRISMA_DATABASE_URL="postgres://user:password@host:port/database_name?sslmode=require"