DATABASE_PRISMA_DATABASE_URL="postgres://user:password@host:port/database_name?sslmode=require"
DATABASE_PRISMA_POSTGRES_URL="postgres://user:password@host:port/database_name?sslmode=require"
DATABASE_PRISMA_PRISMA_DATABASE_URL="postgres://user:password@host:port/database_name?sslmode=require"
JWT_SECRET="cambia-esto-por-un-secreto-seguro-de-al-menos-32-caracteres"
PASSWORD_ENCRYPT="1"